{{ define "header" }}
	<header class="main-header">
		<a class="forum-logo" href="/">
			<img src="/static/image/logo0.png" alt="Forum logo">
		</a>
		<div class="whole-header">
			<div class="searchbar">
				<img class="burgermenu" src="/static/image/burgermenu.svg" alt="">
				<input type="text" placeholder="Search...">
				<img class="spyglass" src="/static/image/spyglass.svg" alt="search">
			</div>
			{{ if .Session }}
				<div class="header-options">
					<div class="profile-menu">
						<img src="/static/image/darkvador-1.png" alt="Profile picture" class="profile-pic">
						<div class="history-dropdown">
							<span>History</span>
							<div class="sub-dropdown">
								<a href="/history/created">Posts</a>
								<a href="/history/liked">Likes</a>
							</div>
						</div>
					</div>
					<div class="user-chat">
						<a href="">
							<img src="/static/image/chat.svg" alt="chat">
						</a>
					</div>
					<div class="user-notifications">
						<a href="">
							<img src="/static/image/notifications.svg" alt="notifs">
						</a>
					</div>
				</div>
			{{ else }}
				<div class="unlogged-header">
						<a href="/login">
							<button class="login-button">Login</button>
						</a>
						<a href="/register">
							<button class="register-button">Register</button>
						</a>
				</div>
			{{ end }}
		</div>
	</header>
{{ end }}
