{{ define "navbar" }}
	<div class="layout">
		<nav class="sidebar">
			<ul class="nav-list">
				<li><a href="/">Home</a></li>
				<li>
					<details>
						<summary>Categories</summary>
						<div class="categories-menu-content">
							{{ range .Categories }}
								<a href="/categories/{{ .ID }}">{{ .Name }}</a>
							{{ end }}
						</div>
					</details>
				</li>
				<li><a href="#">Tags</a></li>
				{{ if .Session }}
					<li><a href="#">Favs</a></li>
					<li><a href="/post/create">New Post</a></li>
					<li class="logout">
						<a href="/logout">Logout</a>
				{{ else }}
					<li class="logout">
						<a href="/login">Login</a>
				{{ end }}
				</li>
			</ul>
		</nav>
	</div>
{{ end }}
