{{ define "navbar" }}
	<div class="navbar">
		<div class="nav">
			<div class="navbar-button">
				<a href="/">
					<button>Home</button>
				</a>
			</div>
			<!-- {{ if .Session }}
			<div class="navbar-button">
				<a href="">
					<button>Favs</button>
				</a>
			</div>
			{{ end }} -->
			 <div class="category-button">
				<button>
					<span>Category</span>
				</button>
				<div class="category-dropdown">
					{{ range .Categories }}
						<a href="/categories/{{ .ID }}">{{ .Name }}</a>
					{{ end }}
				</div>
			 </div>
			{{ if .Session }}
				<div class="navbar-button">
					<a href="/post/create">
						<button>Create Post</button>
					</a>
				</div>
			{{ end }}
		</div>
		{{ if .Session }}
			<div class="logout-button">
				<a href="/logout">
					<button>Log out</button>
				</a>
			</div>
		{{ end }}
	</div>
{{ end }}
