{{ define "post_buttons" }}
	{{ template "reactions" (addToStruct . "Type" "post") }}
	{{ if .Session }}
		<!-- Additional features for user/admin/moderator -->
		{{ if or (eq .AuthorID .Session.UserID)
				(doesStrMatchAny .Session.UserRole "moderator" "administrator") }}
			<form action="/post/delete" method="POST" class="post-controls"
				onsubmit="return confirm('Are you sure you want to delete this post ?');">
				<input type="hidden" name="post_id" value="{{ .ID }}">
				<button type="submit">Delete</button>
			</form>
		{{ end }}

		{{ if (doesStrMatchAny .Session.UserRole "moderator") }}
			<div class="post-controls">
				<a href="/post/report/{{ .ID }}">Report</a>
			</div>
		{{ end }}
	{{ end }}
{{ end }}
