.sidebar {
	width: 15%;
	height: 100%;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem 0;
}

.nav-list {
	list-style: none;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.nav-list li a {
	text-decoration: none;
	color: black;
	padding: 0.5rem 1rem;
	border: 1;
	display: block;
	transition: background-color 0.3s;
}

.nav-list li a:hover {
	background-color: #a7a7a7;
	border-radius: 4px;
}

.logout {
	margin-top: auto; /* Pushes "Log Out" to the bottom */
}

