.navbar {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #00000021;
}

.logged-navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 300px;
}

.nav {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.navbar button, .category-button {
    width: 90px;
    height: 45px;
    font-size: 17px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.nav button:hover{
    background-color: rgba(235, 221, 221, 0.959);
}

.category-button {
    position: relative;
}

.category-dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: rgba(236, 230, 240, 1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for visibility */
    padding: 10px;
    border-radius: 8px;
    z-index: 1;
}

.category-dropdown a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.category-dropdown a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}

.category-button:hover .category-dropdown {
    display: flex;
}

.logout-button{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.logout-button button{
    width: 90px;
    height: 45px;
    border-radius: 10px;
    border-color: blueviolet;
    background-color: white;
    color: blueviolet;
}

.logout-button button:hover {
    background-color: blueviolet;
    color: white;
}

