<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/style/main.css">
		<link rel="stylesheet" href="/static/style/layout/header.css">
		<link rel="stylesheet" href="/static/style/layout/navbar.css">
		<link rel="stylesheet" href="/static/style/layout/footer.css">
	</head>
	<body>
		{{ template "header" . }}
		{{ template "navbar" . }}
		<main>
			{{ template "listpost" . }}
		</main>
	</body>
	{{ template "footer" . }}
</html>
