<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style/main.css">
	<link rel="stylesheet" href="/static/style/layout/header.css">
	<link rel="stylesheet" href="/static/style/layout/navbar.css">
	<link rel="stylesheet" href="/static/style/pages/default.css">
	<link rel="stylesheet" href="/static/style/pages/createpost.css">
	<link rel="stylesheet" href="/static/style/layout/footer.css">
	<title>Create Post</title>
</head>
<body>
	<div class="page">
		{{ template "header" . }}
		<main>
			{{ template "navbar" . }}
			<section class="content-fixed">
				<div class="content-container">
					<h1>New Post</h1>
					<section class="create-post">
						<form action="/post/create" method="POST" enctype="multipart/form-data">
							<div class="form-group">
								<label for="title"></label>
								<input class="post-input" type="text" id="title" name="title" required placeholder="Enter the post title">
							</div>
							<div class="form-group">
								<label for="content"></label>
								<textarea id="content" name="content" required placeholder="Write your post here..."></textarea>
							</div>
							<div class="upload-image">
									<label for="file-upload" class="upload-btn">Upload Image</label>
									<input type="file" id="file-upload" name="image" class="upload-input" accept="image/*">
							</div>
							<div class="categories-form-group">
								<label for="toggle-categories" class="toggle-label">Categories</label>
								<input type="checkbox" id="toggle-categories" class="toggle-checkbox">
								<div class="categories-options">
									{{ range .Categories }}
										<label>
											<input type="checkbox" name="categories" value="{{.ID}}"> {{ .Name }}
										</label>
									{{ end }}
								</div>
							</div>
							<div class="create-button">
								<button type="submit">Create Post</button>
							</div>
							<!--
							<div id="error-message" class="error-message"></div>
							<div id="success-message" class="success-message"></div>-->
						</form>
					</section>
				</div>
			</section>
		</main>
		{{ template "footer" . }}
	</div>
</body>
</html>
