<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/style/main.css">
	</head>
	<body class="history-page">
		<div class="full-page">
			{{ template "header" . }}
			<main>
				{{ template "navbar" . }}
				<section class="content-fixed">
					<div class="content-container">
						<div class="history-categories">
							<a href="/history/created">Posts Created</a>
							<a href="/history/liked">Posts Liked</a>
						</div>
						{{ template "listpost" . }}
					</div>
				</section>
			</main>
			{{ template "footer" . }}
		</div>
	</body>
</html>
