<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style/main.css">
</head>
<body>
	{{ template "header" . }}
	<main>
		{{ if .Session }}
			<a href="/post/create">Create post</a>
		{{ end }}
		<h2>Latest Posts</h2>
		<div id="posts">
			<div id="react-buttons-container"> <!-- must contains all posts-->
				{{ range .Posts }}
					<div class="post" post-id="{{ .ID }}"
					current-user-id="{{ if $.Session }}{{ $.Session.UserID }}{{ else }}0{{ end }}">
						<a href="/post/view/{{ .ID }}"><h3>{{ .Title }}</h3></a>
						<p>By: {{ .UserName }}</p>
						<p>{{ .Content }}</p>
						{{ range .Categories }}
							<p>{{ .Name }}</p>
						{{ end }}
						<p><em>Posted on: {{ .CreationDate }}</em></p>
						{{ template "post_buttons" (addToStruct . "Session" $.Session) }}
						{{ template "post_comments" (addToStruct . "Session" $.Session) }}
					</div>
				{{end}}
			</div>
		</div>
	</main>
	{{ template "footer" . }}
	<script type="module" src="/static/scripts/like.js"></script>
</body>
</html>
