<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style/main.css">
	<link rel="stylesheet" href="/static/style/layout/header.css">
	<link rel="stylesheet" href="/static/style/layout/navbar.css">
	<link rel="stylesheet" href="/static/style/pages/home.css">
</head>
<body id="bd">
	{{ template "header" . }}
	<div class="layout">
		{{ template "navbar" . }}
		<main>
			<div id="posts">
				<h2>Latest Posts</h2>
				{{ range .Posts }}
					<div class="post">
						<a href="/post/view/{{ .ID }}"><h3>{{ .Title }}</h3></a>
						<p>By: {{ .UserName }}</p>
						<p class="post-content">{{ .Content }}</p>
						{{ range .Categories }}
							<p>{{ .Name }}</p>
						{{ end }}
						<p><em>Posted on: {{ .CreationDate }}</em></p>
						<div class="post-buttons">
							{{ template "post_buttons" (addToStruct . "Session" $.Session) }}
						</div>
						{{ template "post_comments" (addToStruct . "Session" $.Session) }}
					</div>
					<svg style="text-align: center;" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
						<path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
						</svg>
				{{end}}
			</div>
		</main>
	</div>
	<script type="module" src="/static/scripts/like.js"></script>
</body>
</html>
