<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style/main.css">
</head>
<body>
	{{ template "header" . }}
	<main>
		<h1>Login</h1>
		<form method="post" action="/login" >
			<div>
				<label for="username">Username or Email</label>
				<input type="text" id="username" name="username" required>
			</div>
			<div>
				<label for="password">Password</label>
				<input type="password" id="password" name="password" required>
			</div>
			<button type="submit">Login</button>
		</form>
		<p>Don't have an account? <a href="/register">Register</a></p>

		<h2>Or Login with:</h2>
		<div class="social-login">
			<a href="/auth/google/login">Login with Google</a>
			<a href="/auth/github/login">Login with Github</a>
			<a href="/auth/facebook/login">Login with Facebook</a>
		</div>
	</main>
	{{ template "footer" . }}
</body>
</html>
