<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style/main.css">
	<link rel="stylesheet" href="/static/style/pages/register.css">
	<link rel="stylesheet" href="/static/style/layout/footer.css">
</head>
<body>
	<div class="register-page">
		<div class="global-register">
			<div class="forum-logo">
				<a href="/">
					<img src="/static/image/logo0.png" alt="">
				</a>
			</div>
			<div class="all-register">
				<div class="login-with">
					<div class="social-login">
						<div class="login-with-facebook">
							<img class="facebook-login-logo" src="/static/image/facebook1.svg" alt="">
							<button class="login-with-button"> Log In With Facebook</button>
						</div>
					</div>
					<div class="social-login">
						<div class="login-with-google">
							<img class="google-login-logo" src="/static/image/google3.svg" alt="">
							<button class="login-with-button"> Log In With Google</button>
						</div>
					</div>
					<div class="social-login">
						<div class="login-with-instagram">
							<img class="instagram-login-logo" src="/static/image/instagram1.svg" alt="">
							<button class="login-with-button"> Log In With Instagram</button>
						</div>
					</div>
					<div class="social-login">
						<div class="login-with-github">
							<img class="github-login-logo" src="/static/image/github-10.png" alt="">
							<button class="login-with-button"> Log In With Github</button>
						</div>
					</div>
				</div>
				<div class="register">
					<div class="register-form-field">
						<form action="/register" method="post">
							<div class="register-input">
								<label for="username"></label>
								<input type="text" id="user_name" name="user_name" {{ with .UserInput }}value="{{ .Username }}"{{ end }} placeholder="Username" required>
								{{ with .ErrorMsg }}
									{{ if .UsernameAlreadyTaken }}
										<div class="error-msg">
											{{ .UsernameAlreadyTaken }}
										</div>
									{{ end }}
								{{ end }}
							</div>
							<div class="register-input">
								<label for="email"></label>
								<input type="email" id="email" name="email" {{ with .UserInput }}value="{{ .Email }}"{{ end }} placeholder="Email" required>
								{{ with .ErrorMsg }}
									{{ if .EmailAlreadyTaken }}
										<div class="error-msg">
											{{ .EmailAlreadyTaken }}
										</div>
									{{ end }}
								{{ end }}
							</div>
							<div class="register-input">
								<label for="password"></label>
								<input type="password" id="password" name="password" placeholder="Password" required>
							</div>
							<button class="register-button" type="submit">Register</button>
						</form>
						<div class="register-login">
							<p>Already have an account? <a href="/login">Login</a></p>
						</div>
					</div>
				</div>
	 		</div>
		</div>
		{{ template "footer" . }}
	</div>
</body>
</html>
