<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/style/main.css">
		<link rel="stylesheet" href="/static/style/layout/header.css">
		<link rel="stylesheet" href="/static/style/layout/navbar.css">
		<link rel="stylesheet" href="/static/style/pages/viewpost.css">
		<link rel="stylesheet" href="/static/style/components/post.css">
		<link rel="stylesheet" href="/static/style/components/comments.css">
		<link rel="stylesheet" href="/static/style/components/reactions.css">
		<link rel="stylesheet" href="/static/style/layout/footer.css">
	</head>
	<body>
		<div class="bloc-page">
			{{ template "header" . }}
			<div class="viewpost-page">
				{{ template "navbar" . }}
				<main>
					<div class="post">
						{{ template "postcore" (addToStruct .Post "Session" $.Session) }}
						{{ template "comments" (addToStruct .Post "Session" $.Session) }}
					</div>
				</main>
			</div>
			{{ template "footer" . }}
		</div>
		<script type="module" src="/static/scripts/like.js"></script>
	</body>
</html>
