<!DOCTYPE html>
<html lang="en">
	<body>
		{{ template "header" . }}
		<main>
			<div class="post">
				<h3>{{ .Post.Title }}</h3>
				<p>{{ .Post.Content }}</p>
				<p>By: {{ .Post.UserName }}</p>
				<p><em>Posted on: {{ .Post.CreationDate }}</em></p>
				{{ template "post_buttons" (addToStruct .Post "Session" .Session) }}
				{{ template "post_comments" (addToStruct .Post "Session" .Session) }}
			</div>
		</main>
		{{ template "footer" . }}
		<script type="module" src="/static/scripts/like.js"></script>
	</body>
</html>
