<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/style/main.css">
</head>
<body>

    <header>
        <h1>{{.Title}}</h1>
        <nav>
            <ul>
                {{if .IsLoggedIn}}
                        <p>Welcome, {{.UserName}}</p>

                    {{if eq .UserRole "administrator"}}
                        <li><a href="/admin">Admin Home Page</a></li>
                    {{end}}

                    {{if eq .UserRole "moderator"}}
                        <li><a href="/moderator">Moderator Home Page</a></li>
                    {{end}}

                        <li><a href="/post/create">Create Post</a></li>
                        <li><a href="/logout">Logout</a></li>
                {{else}}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                {{end}}
            </ul>
        </nav>
    </header>

    <main>
        <h2>Latest Posts</h2>

    <div id="posts">
        {{if .Posts}}

            {{range .Posts}}
                <div class="post">
                    <h3>{{.Title}}</h3>
                    <p>By : {{.UserName}}</p>
                    <p>{{.Content}}</p>
                    <p><em>Posted on : {{.CreationDate}}</em></p>

                    <!-- Additionnal features form user/admin/moderator-->
                     {{if eq .AuthorID $.UserID}}
                        <div class="post-controls">
                            <a href="/post/edit/{{.PostID}}">Edit</a>
                        </div>
                     {{end}}

                     {{if or (eq $.UserRole "administrator") (eq $.UserRole "moderator")}}
                        <div class="post-controls">
                            <a href="/post/delete/{{.PostID}}" onclick="return confirm('delete post?')">Delete</a>
                        </div>
                    {{end}}

                    {{if eq $.UserRole "moderator"}}
                        <div class="post-controls">
                            <a href="/post/report/{{.PostID}}">Report</a>
                        </div>
                    {{end}}
                </div>
            {{end}}

        {{else}}
            <P>No Posts available</P>
        {{end}}
    </div>
    </main>

    <footer>
        <p>&copy; 2024 Forum. All rights reserved.</p>
    </footer>

</body>
</html>
