<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style/main.css">
</head>
<body>
	{{ template "header" . }}
	<main>
		<a href="/post/create">Create post</a>
		<h2>Latest Posts</h2>
		<div id="posts">
			{{ if .Posts }}
				{{ range .Posts }}
					<div class="post">
						<h3>{{.Title}}</h3>
						<p>By : {{ .UserName }}</p>
						<p>{{ .Content }}</p>
						<p><em>Posted on : {{ .CreationDate }}</em></p>

						{{ if or (eq $.Session.UserRole "user") (eq $.Session.UserRole "moderator") (eq $.Session.UserRole "administrator" )}}
							<div class="post-controls">
								<a href="/post/comment/{{.PostID}}">Comment</a>
							</div>
						{{ end }}
						<!-- Additionnal features form user/admin/moderator-->
						{{ if eq .AuthorID $.Session.UserID }}
							<div class="post-controls">
								<a href="/post/edit/{{.PostID}}">Edit</a>
							</div>
						{{ end }}

						{{ if or (eq $.Session.UserRole "administrator") (eq $.Session.UserRole "moderator") }}
							<div class="post-controls">
								<a href="/post/delete/{{.PostID}}" onclick="return confirm('delete post?')">Delete</a>
							</div>
						{{ end }}

						{{ if eq $.Session.UserRole "moderator" }}
							<div class="post-controls">
								<a href="/post/report/{{.PostID}}">Report</a>
							</div>
						{{ end }}

						<!-- Comments -->
						<div class="comments">
							{{if .Comments}}
								<h4>Comments</h4>
								{{range .Comments}}
									<div class="comment">
										<p><strong>{{.Username}}</strong>: {{.Content}}</p>
										<p><em>Posted on: {{.CreationDate}}</em></p>
									</div>
								{{end}}
							{{else}}
								<p>No comments yet.</p>
							{{end}}

							{{if or (eq $.UserRole "user") (eq $.UserRole "moderator") (eq $.UserRole "administrator")}}
								<form action="/post/comment/{{.PostID}}" method="POST" class="comment-form">
									<textarea name="content" placeholder="Write your comment here..." required></textarea>
									<input type="hidden" name="postID" value="{{.PostID}}">
									<button type="submit">Comment</button>
								</form>
							{{end}}
						</div>
					</div>
				{{end}}
			{{else}}
				<p>No Posts available</p>
			{{end}}
		</div>
	</main>

	<footer>
		<p>&copy; 2024 Forum. All rights reserved.</p>
	</footer>
</body>
</html>
