.category-posts-page, .history-page {
	/* Make the post minimal */
	.post-core .post-core__content {
		display:			-webkit-box;
		-webkit-line-clamp:	3;
		line-clamp:			3;
		-webkit-box-orient:	vertical;
		overflow:			hidden;
	}
}

