* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.register-page {
    background-color:rgba(244, 242, 238, 1);
    display: flex;
    flex-direction: column;
}

.global-register{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 1260px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
}

.forum-logo{
    align-self: center;
    padding-top: 30px;
    padding-bottom: 60px;
}

.all-register{
    align-self: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
}

.login-with {
    background: var(--2cd-background-color, #f4f4f4);
    border-radius: 15px;
    width: 1000px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-login {
    border: 3px solid white;
    border-radius: 15px;
}

.login-with-facebook, .login-with-google, .login-with-instagram, .login-with-github{
    background: var(--navbar-color, #ffffff);
    border-radius: 15px;
    border-style: solid;
    border-color: var(--navbar-color, #ffffff);
    border-width: 2px;
    display: flex;
}

.facebook-login-logo {
    border-radius: 15px;
    width: 50px;
    height: 60px;
}

.google-login-logo {
    border-radius: 15px;
    margin-right: 4px;
    border: 1px solid red;
    width: 50px;
    height: 60px;
}

.instagram-login-logo {
    border-radius: 15px;
    width: 50px;
    height: 60px;
}

.github-login-logo {
    border-radius: 0px;
    width: 50px;
    height: 60px;
}

.login-with-button {
    background-color: white;
    border: none;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
    font-family: "Inter-SemiBoldItalic", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    transition-duration: 0.4s;
}

.login-with-button:hover {
    background-color: rgba(235, 221, 221, 0.959);
}

.register {
    background: var(--navbar-color, #ffffff);
    border-radius: 15px;
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 1px;
    width: 1000px;
    height: 445px;
    margin-top: 15px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.register-form-field {
    width: 509px;
    height: 605px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

form {
    width: 561px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.register-input {
    margin-bottom: 20px;
}

input{
    width: 509px;
    height: 38px;
    border-radius: 5px;
    border-width: 0.5px;
    text-align: center;
    font-size: 17px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
    outline: none;
    box-shadow: 0 0 0 2px blue;
    text-align: center;
    font-size: 17px;
}

::placeholder {
    text-align: center;
    font-size: 17px;
}

input:focus::placeholder{
    color: transparent;
}

.register-button {
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    font-size: 17px;
}

.register-button:hover{
    background-color: blueviolet;
    color: white;
}

footer{
    align-self: center;
}