.history-page {
	.history-categories {
		display:			flex;
		justify-content:	space-evenly;
		max-width:			50rem;
		width:				100%;
		gap:				1rem;
	}

	.history-categories a {
		text-decoration:	none;
		color:				black;
		border-radius:		1rem;
		padding:			0.7rem;
		background-color:	rgb(233, 233, 237);
	}

	.history-categories a:hover {
		background-color:	rgb(212, 212, 212);
	}

	.post {
		.comments {
			margin-top:		0 !important;
			margin-left:	2rem;
		}
	}
}
