.post-core .post-core__footer {
	display:			flex;
	justify-content:	space-between;
	align-items:		center;
}

.post-core .post-core__buttons {
	display:		flex;
	gap:			0.5rem;
	align-items:	center;
	margin-top:		0.5rem;
}

/* Remove margin top from like and dislike button
to put it in the buttons container */
.post-core .post-core__buttons * {
	margin-top:	0;
}

.post-core .post-core__delete button {
	cursor:			pointer;
	padding:		0.5rem;
	border:			none;
	border-radius:	0.5rem;
}
