.post {
	display:			flex;
	flex-direction:		column;
	max-width:			50rem;
	width:				100%;
	margin-top:			2.5rem;
}


/* Make the post minimal */
.post-core .post-core__content {
	display:			-webkit-box;
	-webkit-line-clamp:	3;
	line-clamp:			3;
	-webkit-box-orient:	vertical;
	overflow:			hidden;
}
