.post-controls button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 8px 12px;
	font-size: 14px;
	gap: 2px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
}

.post-controls button:hover {
	background-color: rgb(212, 212, 212);
}


.post-controls button:active {
	transform: scale(0.95);
}

.post-controls .delete {
	background-color: #DD4145;
	color: white;
}

.post-controls .delete:hover {
	background-color: #b33337;
}