.bloc-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-page {
    display: flex;
    flex-grow: 1;
}

main {
    background-color: rgba(244, 244, 244, 1);
    padding: 60px;
    flex-grow: 1;
}