.bloc-page {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.home-page {
	display: flex;
	flex-grow: 1;
	overflow: hidden;
}

main {
	background-color:rgba(244, 242, 238, 1);
	padding: 60px;
	flex-grow: 1;
	overflow: auto;
}
