* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.login-page {
    background-color:rgba(244, 242, 238, 1);
    display: flex;
    flex-direction: column;
}

.global-login {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 1260px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 15px;
}

.forum-logo{
    align-self: center;
    padding-top: 30px;
    padding-bottom: 80px;
}

.all-login {
    align-self: center;
    display: flex;
    padding-bottom: 35px;
}

.login-with {
    background: var(--2cd-background-color, #f4f4f4);
    border-radius: 15px;
    width: 570px;
    height: 605px;
    padding: 80px;
    display: flex;
    flex-direction: column;
}

.social-login {
    border: 3px solid white;
    border-radius: 15px;
    margin-bottom: 5%;
}

.login-with-facebook, .login-with-google, .login-with-instagram, .login-with-github{
    background: var(--navbar-color, #ffffff);
    border-radius: 15px;
    border-style: solid;
    border-color: var(--navbar-color, #ffffff);
    border-width: 2px;
    display: flex;
}

.facebook-login-logo {
    border-radius: 15px;
    border: 1 px solid blue;
    width: 80px;
    height: 81.09px;
}

.google-login-logo {
    border-radius: 15px;
    margin-right: 4px;
    border: 1px solid red;
    width: 80px;
    height: 80px;
}

.instagram-login-logo {
    border-radius: 15px;
    width: 80px;
    height: 81.09px;
}

.github-login-logo {
    border-radius: 0px;
    width: 80px;
    height: 81.09px;
}

.login-with-button {
    background-color: white;
    border: none;
    border-radius: 15px;
    color: #000000;
    font-family: "Inter-SemiBoldItalic", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    flex-grow: 2;
    transition-duration: 0.4s;
}

.login-with-button:hover {
    background-color: rgba(235, 221, 221, 0.959);
}

.login-manually {
    background: var(--navbar-color, #ffffff);
    border-radius: 15px;
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 1px;
    width: 564px;
    height: 605px;
    margin-left: 12px;
}

.login-form-field {
    width: 509px;
    height: 605px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form {
    width: 561px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input{
    width: 509px;
    height: 38px;
    border-radius: 5px;
    border-width: 2.5px;
    text-align: center;
    font-size: 20px;
}

input[type=text]:focus, input[type=password]:focus{
    outline: none;
    box-shadow: 0 0 0 2px blue;
    text-align: center;
    font-size: 20px;
}

::placeholder {
    text-align: center;
    font-size: 20px;
}

input:focus::placeholder{
    color: transparent;
}

.login-button {
    width: 80px;
    height: 35px;
    border-radius: 5px;
    font-size: 20px;
}

.login-button:hover{
    background-color: blueviolet;
    color: white;
}

.login-register {
    align-self: center;
}

footer{
    align-self: center;
}