{{ define "comments" }}
	<div class="comments">
		{{ if .Session }}
			<form action="/post/comment/{{ .ID }}"
				method="POST" class="comment-form">
				<textarea name="content" placeholder="Write your comment here..." required></textarea>
				<input type="hidden" name="postID" value="{{ .ID }}">
				<button type="submit">Comment</button>
			</form>
		{{ end }}
		{{ range .Comments }}
			<article class="comment">
				<div class="comment__head">
					<div class="comment__infos">
						<div class="comment__author">{{ .UserName }}</div>
						<time class="comment__creation-date" datetime="{{ .CreationDate }}">{{ .CreationDate }}</time>
					</div>
					{{ template "reactions" (addToStruct . "Type" "comment" "Session" $.Session) }}
				</div>
				<div class="comment__content">{{ .Content }}</div>
			</article>
		{{ end }}
	</div>
{{ end }}
