{{ define "postcore" }}
	<div class="post__core">
		<div class="post__head">
			<a class="post__title" href="/post/view/{{ .ID }}">{{ .Title }}</a>
			<div class="post__creation-date">
				<time datetime="{{ .CreationDate }}">{{ .CreationDate }}</time>
			</div>
		</div>
		<div class="post__content">{{ .Content }}</div>
		<div class="post__footer">
			<div class="post__author">by <a href="/">{{ .UserName }}</a></div>
			<div class="post__buttons">
				{{ if .Session }}
					<!-- Additional features for user/admin/moderator -->
					{{ if or (eq .AuthorID .Session.UserID)
							(doesStrMatchAny .Session.UserRole "moderator" "administrator") }}
						<form action="/post/delete" method="POST" class="post__delete"
							onsubmit="return confirm('Are you sure you want to delete this post ?');">
							<input type="hidden" name="post_id" value="{{ .ID }}">
							<button type="submit">
								<img src="/static/image/trash.svg" alt="Trash icon">
							</button>
						</form>
					{{ end }}
				{{ end }}
				{{ template "reactions" (addToStruct . "Type" "post") }}
			</div>
		</div>
	</div>
{{ end }}
