{{ define "postcore" }}
	<div class="post-core">
		<div class="post-core__head">
			<a class="post-core__title" href="/post/view/{{ .ID }}">{{ .Title }}</a>
			<div class="post-core__head-infos">
				<div class="post-core__creation-date">
					<time datetime="{{ .CreationDate }}">{{ .CreationDate }}</time>
				</div>
			</div>
		</div>
		<div class="post-core__content">{{ .Content }}</div>
		{{ if .ImagePath }}
			<img class="post-core__image" src="{{ .ImagePath }}" alt="Trash icon">
		{{ end }}
		<div class="post-core__footer">
			<div class="post-core__author">by <a href="">{{ .UserName }}</a></div>
			<div class="post-core__buttons">
				{{ if .Session }}
					<!-- Additional features for user/admin/moderator -->
					{{ if or (eq .AuthorID .Session.UserID)
							(doesStrMatchAny .Session.UserRole "moderator" "administrator") }}
						<form action="/post/delete" method="POST" class="post-core__delete"
							onsubmit="return confirm('Are you sure you want to delete this post ?');">
							<input type="hidden" name="post_id" value="{{ .ID }}">
							<button type="submit">
								<img src="/static/image/trash.svg" alt="Trash icon">
							</button>
						</form>
					{{ end }}
				{{ end }}
				{{ template "reactions" (addToStruct . "Type" "post") }}
			</div>
		</div>
	</div>
{{ end }}
