{{ define "reactions" }}
	{{ if .UserConfig }}
		<div class="reaction-section" data-type="{{ .Type }}" data-id="{{ .ID }}"
				data-current-user-id="{{ if .Session }}{{ .Session.UserID }}{{ else }}0{{ end }}">
			<button class="like-button {{ if .UserConfig.IsLiked }}active{{ end }}">
				<span class="reaction-icon">
					<img src="/static/image/like.svg" alt="Like icon">
				</span>
				<span class="reaction-count">{{ .Likes }}</span>
			</button>
			<button class="dislike-button {{ if .UserConfig.IsDisliked }}active{{ end }}">
				<span class="reaction-icon">
					<img src="/static/image/dislike.svg" alt="Dislike icon">
				</span>
				<span class="reaction-count">{{ .Dislikes }}</span>
			</button>
		</div>
	{{ end }}
{{ end }}
